body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;  
  background-image: linear-gradient(to bottom, #ccc, #fff 100%);
}

.maincontentelement {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}
label {
  font-size: 100%;
  min-width: 8em;
  display: inline-block;
  padding: 5px;
  background: darkgray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
input {
  font-size: 100%;
  padding: 4px;
  width: 16em;
}

button {
  font-size: 100%;
  padding: 4px;
  min-width: 5em;
}

#idtextencrypted{
  margin-left : auto;
  margin-right : auto;
  margin-top : 0.5em;
  display: block;
}

.header {
  background: #373150;
  color: #eee;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0.7em;

  padding:1em;
  background-image: linear-gradient( #002 , #373150 );
  box-shadow: 3px 3px 3px 1px rgba(100, 100, 100, 0.4);
}

.messagelayer {
  background: #ddd;
  border: 1px solid #ccc;
  margin-left:3em;
  margin-right:3em;
  margin-bottom:0.5em;
}

.warningtriangle {
  font-size:240%;
  color: #ed0;
  text-shadow: 0 0 20px #999;
}

#idmessagelayercontentspan {
  vertical-align: super;
  color:red;
  padding-left: 0.5em;
}
